<mat-toolbar>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/">Budget</a>
    <div class="spacer"></div>
    <div>
        <div class="flex-container">
            @if(isLoggedIn()){
              <ng-container *ngIf="authService.getUserDetail() as userDetail">
                <a [matMenuTriggerFor]="menu" class="user-info-container">
                  <div class="user-info-logo">
                    {{userDetail!.fullName[0].toUpperCase()}}
                  </div>
                  <div class="user-data-wr">
                    <h1 class="user-name-text">
                      {{userDetail?.fullName}}
                    </h1>
                    <p class="user-role-text">
                      {{userDetail?.roles}}
                    </p>
                  </div>
                </a>
                <mat-menu #menu="matMenu">
                  <button [routerLink]="['account',userDetail?.id]" mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>
                      View Profile
                    </span>
                  </button>
                  <button (click)="logout()" mat-menu-item>
                    <mat-icon>
                      logout
                    </mat-icon>
                    <span>Logout</span>
                  </button>
                </mat-menu>
              </ng-container>
                
            }@else {
                <a mat-button routerLink="/login">Login</a>
                <a mat-button routerLink="/register">Register</a>
            }
            <button mat-icon-button class="theme-changer" (click)="changeTheme()">
                <mat-icon>{{theme === 'light' ? 'dark_mode':'light_mode'}}</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>