.flex-container {
  display: flex;
  //gap: 1.25rem;
  align-items: center;
}

.theme-changer {
  margin-left: 8px;
}

.user-info-container {
  display: flex;          // flex
  gap: 0.5rem;            // gap-2 (2 * 0.25rem = 0.5rem)
  cursor: pointer;        // cursor-pointer
  align-items: center;    // items-center
}

.user-info-logo {
  background-color: #f87171; // bg-red-400
  //color: white;             // text-white
  font-weight: bold;        // font-bold
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // shadow-md
  border-radius: 9999px;    // rounded-full
  width: 1.5rem;          // w-5 (5 * 0.25rem = 1.25rem)
  height: 1.5rem;         // h-5
  padding: 1.5rem;        // p-5
  display: flex;           // flex
  justify-content: center; // justify-center
  align-items: center;     // items-center
  box-sizing: border-box;
}

.user-data-wr {
  //color: white;            // text-white
  display: flex;           // flex
  flex-direction: column;  // flex-col
}

.user-name-text {
  padding: 0;           // p-0
  margin: 0;            // m-0
  font-weight: 500; 
}

.user-role-text {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 0.75rem; 
}
