.flex-container {
  display: flex;
  //gap: 1.25rem;
  align-items: center;
}

.theme-changer {
  margin-left: 8px;
}

.user-info-container {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
}

.user-info-logo {
  background-color: var(--mat-sys-inverse-primary);
  //color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.user-data-wr {
  //color: white;
  display: flex;
  flex-direction: column;
}

.user-name-text {
  padding: 0;
  margin: 0;
  font-weight: 500; 
}

.user-role-text {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 0.75rem; 
}
