.app-wrap {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: calc(100vh - 65px); 
    //background-color: aquamarine;
}