@use '@angular/material' as mat;

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

a {
    color: inherit;
    text-decoration: inherit;
}

.spacer {
  display: flex;
  flex: 1 1 auto;
}

//calculate size under navbar recommendet to use in every component 
.component-wrap {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: calc(100vh - 65px); 
  //background-color: aquamarine;
}